@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: --font-cairo-play-sans, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: -2;
}

.background-image {
  width: 100%;
  background-image: var(--background-image-light);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  height: 100%;
  width: 100%;
  z-index: 0;
  color: var(--text);
}

a {
  color: var(--text);
  font-weight: 500;
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
}

a:hover {
  color: var(--primary);
  cursor: pointer;
  transform: scale(1.1);
}

.home-link-container {
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.home-link-label {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
}

.home-link-container:hover .home-link-label {
  opacity: 1;
  cursor: pointer;
}

.home-link {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.home-link svg {
  width: 1.8rem;
  height: 1.8rem;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --root: #ccccccff;
    --counterpart: #000000ff;
    --text: #333333ff;
    --background: #ebebd3ff;
    --primary: #84b0b0ff;
    --secondary: #cbc10dff;
    --accent: #ca4f07ff;
    --hover: #beb7a4ff;
    --active: #768888ff;
    --background-image-light: url("/images/bg_light.svg");
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
