@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --light: #fafafaff; /*seasalt*/
    --text: #363635ff; /*jet*/
    --background: #f8f4e3ff; /*cosmic-latte*/
    --primary: #c1bfc9ff; /*french-gray*/
    --secondary: #68596bff; /*eggplant*/
    --accent: #8e9aafff; /*cool-gray*/
    --auxillary: #373f51ff; /*navy-town*/
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #fafafaff; /*seasalt*/
    --text: #f8f4e3ff; /*cosmic-latte*/
    --background: #363635ff; /*jet*/
    --primary: #68596bff; /*eggplant*/
    --secondary: #9a8c98ff; /*rose-quartz*/
    --accent: #8e9aafff; /*cool-gray*/
    --auxillary: #373f51ff; /*navy-town*/
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  transition: color 0.3s ease-in-out 0s;
  transition: text-decoration 0.3s ease-in-out 0s;
  transition: font-weight 0.3s ease-in-out 0s;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
  font-weight: 600;
}

.audio-player {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* origin modal */
.origin-modal {
  min-height: 100%;
  width: 100vw;
}

/*
volume range element: 

i. the range element
is handled differently
depending on the browser

ii. browsers will break
down the range element
into two parts:
"track" & "thumb"
*/

/*
target the html range element
*/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
  overflow: hidden;
  height: 1rem;
  background: #ccc;
}

/*
target the id selector
*/

#volume {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transform: rotate(-90deg);
}

/*
track for chrome browser
*/

input[type='range']::-webkit-slider-runnable-track {
  background: #ccc;
  border-radius: 0.5rem;
  border: var(--text) 2px solid;
}

#volume::-webkit-slider-runnable-track {
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--text) 2px solid;

}

/*
track for mozilla browser
*/

#volume::-moz-range-track {
  height: 1rem;
  border-radius: 0.5rem;
  background: #ccc;
}

/*
thumb for chrome browser
*/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: var(--text);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

#volume::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: var(--text);
  border-radius: 50%;
  border: 1px solid var(--background);
}

/*
thumb for mozilla browser
*/

input[type="range"]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  background-color: var(--text);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

#volume::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  background-color: var(--text);
  border-radius: 50%;
  border: 1px solid var(--background);
}

/* 
thumb hover, active, focus states for chrome browser
*/

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 1px 1px 1px 7px rgba(250, 250, 250, 0.2);
}

input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
}

/*
thumb hover, active, focus states for mozilla browser
*/

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 1px 1px 1px 7px rgba(250, 250, 250, 0.2);
}

input[type="range"]:active::-moz-range-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
}
