@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

:root {
  --text: #333333ff;
  --background: #ffffffff;
  --primary: #fef10bff;
  --secondary: #fd4206ff;
  --accent: #6edcdcff;
  --auxillary: #373f51ff;
}

body.dark-mode {
  --text: #ffffffff;
  --background: #333333ff;
  background-color: var(--background);
  color: var(--text);
}

body {
  max-width: 100dvw;
  min-width: 320px;
  margin: 0 auto;
  min-height: 100dvh;
  background-color: var(--background);
  color: var(--text);
  font-size: 100%;
}

@media screen and (max-width: 650px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

button:focus {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

/*
target the html range element
*/

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
  overflow: hidden;
  height: 1rem;
  background: #ccc;
}

/*
target the id selector
*/

#volume {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
  overflow: hidden;
  height: 1rem;
  background: #ccc;
}

/*
track for chrome
*/

input[type='range']::-webkit-slider-runnable-track {
  background: #ccc;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--background) 1px solid;
}

#volume::-webkit-slider-runnable-track {
  background: #ccc;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--background) 1px solid;
}

/*
track for moz
*/

#volume::-moz-range-track {
  background: #ccc;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--background) 1px solid;
}

/*
thumb for chrome
*/

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.9rem;
  width: 0.9rem;
  background-color: var(--background);
  border-radius: 50%;
  border: none;
  transition: border 0.2s ease-in-out;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.9rem;
  width: 0.9rem;
  background-color: var(--background);
  border-radius: 50%;
  border: none;
  transition: border 0.2s ease-in-out;
}

/*
thumb for moz
*/

input[type='range']::-moz-range-thumb {
  height: 0.9rem;
  width: 0.9rem;
  background-color: var(--background);
  border-radius: 50%;
  border: none;
  transition: border 0.2s ease-in-out;
}

#volume::-moz-range-thumb {
  height: 0.9rem;
  width: 0.9rem;
  background-color: var(--background);
  border-radius: 50%;
  border: none;
  transition: border 0.2s ease-in-out;
}

/*
thumb hover, active, focus states for chrome
*/

input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: 1px 1px 1px 7px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);
}

input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);
}

input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);
}

/*
thumb hover, active, focus states for moz
*/

input[type='range']::-moz-range-thumb:hover {
  box-shadow: 1px 1px 1px 7px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);
}

input[type='range']:active::-moz-range-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);
}

input[type='range']:focus::-moz-range-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);
}
