@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  --text: #122f2bff; /*jet*/
  --background: #fafafaff;; /*seasalt*/
  --primary: #c1bfc9ff; /*french-gray*/
  --secondary: #68596bff; /*eggplant*/
  --accent: #8e9aafff; /*cool-gray*/
  --auxillary: #373f51ff; /*navy-town*/
}

body.dark-mode {
  --text: #fafafaff; /*cosmic-latte*/
  --background: #122f2bff; /*jet*/
  --primary: #68596bff; /*eggplant*/
  --secondary: #9a8c98ff; /*rose-quartz*/
  --accent: #8e9aafff; /*cool-gray*/
  --auxillary: #f8f4e3ff; /*cosmic-latte*/

  width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
}

html,
body {
  font-size: 100%;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  transition: color 0.3s ease-in-out 0s;
  transition: text-decoration 0.3s ease-in-out 0s;
  transition: font-weight 0.3s ease-in-out 0s;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
  font-weight: 600;
}

.background-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  z-index: 0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-logo {
  width: 100%;
  margin: 0 auto;


}
/* origin modal */
.origin-modal {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}

.origin-modal-content {
  color: var(--background);
}
/* audio player controls */

.control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  padding: 1rem;
}

.control {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Music page classes */

.album-container {
  position: relative;
  /* Ensure the container only takes the necessary space */
  display: inline-block;
  margin: 0.35rem;
}

.album-image {
  height: auto;
  transition: transform 0.3s ease;
}

.album-name {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text);
  padding: 4px 8px;
  font-size: 1.3rem;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.9s ease, visibility 0s linear 0.3s;
}

.album-container:hover .album-name {
  visibility: visible;
  opacity: 1;
}

.caption {
  font-size: 0.8rem;
}

/* Classes for table on Shows page */

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

td, th {
  border: 1px solid black;
  padding: 0.7rem;

}


/*
volume range element:

i. the range element
is handled differently
depending on the browser

ii. browsers will break
down the range element
into two parts:
"track" & "thumb"
*/

/*
target the html range element
*/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
  overflow: hidden;
  height: 1rem;
  background: #ccc;
  transform: rotate(-90deg);
}

/*
target the id selector
*/

#volume {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 1rem;
  overflow: hidden;
  height: 1rem;
  background: #ccc;
  transform: rotate(-90deg);
}

/*
track for chrome browser
*/

input[type='range']::-webkit-slider-runnable-track {
  background: #ccc;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--text) 2px solid;
}

#volume::-webkit-slider-runnable-track {
  background: #ccc;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--text) 2px solid;
}

/*
track for mozilla browser
*/

#volume::-moz-range-track {
  background: #ccc;
  height: 1rem;
  border-radius: 0.5rem;
  border: var(--text) 2px solid;
}

/*
thumb for chrome browser
*/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--text);
  border-radius: 50%;
  border: none;
  transition: border 0.2s ease-in-out;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--text);
  border-radius: 50%;
  border: none;
  transition: border 0.2s ease-in-out;
}

/*
thumb for mozilla browser
*/

input[type="range"]::-moz-range-thumb {
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--text);
  border-radius: 50%;
  border: none;
  transition: border 0.2s ease-in-out;
}

#volume::-moz-range-thumb {
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--text);
  border-radius: 50%;
  border: none;
  transition: border 0.2s ease-in-out;
}

/*
thumb hover, active, focus states for chrome browser
*/

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 1px 1px 1px 7px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);
}

input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);

}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);

}

/*
thumb hover, active, focus states for mozilla browser
*/

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 1px 1px 1px 7px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);

}

input[type="range"]:active::-moz-range-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);

}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 1px 1px 1px 9px rgba(250, 250, 250, 0.2);
  border: 1px solid var(--text);

}
