#volume,
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  width: 6rem;
  background: var(--secondary);
  border-radius: 0.5rem;
  border: var(--root) 2px solid;
  outline: none;
  cursor: pointer;
  transform: rotate(-90deg);
}

#volume::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  width: 100%;
  background: none;
  border-radius: 0.5rem;
  border: var(--root) 2px solid;
  outline: none;
  cursor: pointer;
  transform: rotate(-90deg);
}

#volume::-webkit-slider-thumb,
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#volume::-webkit-slider-thumb:hover,
input[type='range']::-webkit-slider-thumb:hover {
  --hovercolor: #a3e3e3ff;
  background-color: var(--hovercolor);
}

#volume::-webkit-slider-thumb:active,
input[type='range']::-webkit-slider-thumb:active {
  --activecolor: #6fbdbdff;
  background-color: var(--activecolor);
}

#volume::-moz-range-track,
input[type='range']::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  width: 100%;
  background: none;
  border-radius: 0.5rem;
  border: var(--root) 2px solid;
  outline: none;
  cursor: pointer;
  transform: rotate(270deg);
}

#volume::-moz-range-thumb,
input[type='range']::-moz-range-thumb {
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#volume::-moz-range-thumb:hover,
input[type='range']::-moz-range-thumb:hover {
  --hovercolor: #a3e3e3ff;
  background-color: var(--hovercolor);
}

#volume::-moz-range-thumb:active,
input[type='range']::-moz-range-thumb:active {
  --activecolor: #6fbdbdff;
  background-color: var(--activecolor);
}
